<mat-sidenav-container class="example-container">
  <app-header></app-header>
 
    <mat-card class="example-card"  *ngFor="let article of mArticles">
      <mat-card-header>
        
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ article.source.id +'.png)'}"  class="example-header-image"></div>
        <mat-card-title class="title">{{article.title}}</mat-card-title>
        <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
      <mat-card-content>
        <p>
          {{article.description}}
        </p>
      </mat-card-content>
      <mat-card-actions class="action-buttons">
        <button mat-button color="primary"><mat-icon>thumb_up_alt</mat-icon> 12 Likes</button>
        <button mat-button color="primary"><mat-icon>comment</mat-icon> Comments</button>
        <button mat-button color="primary"><mat-icon>share</mat-icon> Share</button>
        <a mat-button color="primary" href={{article.url}} target="_blank" ><mat-icon>visibility</mat-icon> More</a>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav-container>