<mat-toolbar color="primary">
    <button mat-button (click)="sidenav.open ()" ><mat-icon>menu</mat-icon></button>
    <span>News Headlines</span>  
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>
  </mat-toolbar>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item> Settings </button>
    <button mat-menu-item> Help </button>
  </mat-menu>
  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list class="list-nav">
        <mat-list-item class="list-item" *ngFor="let source of mSources" (click)="Setsource(source.id);sidenav.close();">

          <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ source.id +'.png)'}" class="example-header-image"></div>

          <span class="source-name"> {{source.name}}</span>

        </mat-list-item>
    </mat-list>
  </mat-sidenav>
